<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5G3BXYNFzMzKu1sWz0h1_z313yLAPxTk</string>
	<key>GCM_SENDER_ID</key>
	<string>106939181070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.echodesk.mobile</string>
	<key>PROJECT_ID</key>
	<string>echodesk-73e57</string>
	<key>STORAGE_BUCKET</key>
	<string>echodesk-73e57.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106939181070:ios:513e627fd98631e97d745f</string>
</dict>
</plist>